/* Responsif untuk tablet */
@media (max-width: 768px) {
  .sun {
    width: 100px;
  }
}
/* Styling halaman */
body {
  background-image: url("img/HOME.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
